@font-face {
	font-family: Arcon;
	src: url('../font/Arcon-Regular.otf');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: notosan;
	src: url('../font/NotoSansCJKtc-Regular.otf');
	font-weight:normal;
	font-style:normal;

}


.full-page{
	max-width: 100%;
	background-color: #f9f9f9;
	overflow: auto;
	font-family: Arcon;
}
.col-1-4{
	float: left;
	width: 25%;

}
.col-3-4{
	float: left;
	width: 75%;
}
.col-1-3{
	float: left;
	width: 33.33333%;
}
.col-2-3{
	float: left;
	width: 66.66666%;
}
.col-1-2{
	float: left;
	width: 50%;
}
.relocation{
	max-width: 100%;
	overflow: auto;
}
.lotus__relocation__image{
	max-width: 100%;
	background-image: url('../image/relocation.png');
	height: 1081px;
}
.background--red{
	background-color: #962534;
	max-width: 100%;
	height: 1081px;
}
.background--redlite{
	
	background-color: rgba(150, 37, 52, 0.8);
	height: 1081px;

}

.background--whitelite{
	background-color: rgba(251, 253, 253, 0.5);
	height: 1081px;

}
.lotus__logo{
	display: inline-block;
	text-align: center;
	position: relative;
}
.lotus__logo img{
	display: inline-block;
}
.lotus__logo h2{
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	margin-left: 5px;
	position: absolute;
	top: 10px;
	left: 100px;
}
.lotus--menubar{
	text-align: left !important;
	float: left;
}
.content--white{
	color: white;
	margin-top: 50%;
	margin-left: 20px;
}
.content--white>h2{
	font-size: 50px;
}
.content--white>p,.content--white>ul>li{
	font-size: 26px;
	padding-left: 20px;
}
.content--white>ul{
	padding-left: 42px;
}
.content--white>ul>li{
	padding-left: 1px;

}
.content--black{
	color: black;
	margin-top: 50%;
	margin-left: 0px;
	text-align: right !important;
	margin-right: 20px;
}
.content--black>h2{
	font-size: 50px;

}
.content--black>p, .content--black>ul>li{
	font-size: 26px;
	padding-left: 20px;

}
.content--black>ul>li,.content--black>ul{
	padding-left: 1px;
	}
.background--right{
	float: right;
	text-align: left;
}
ul.lotus__link1 li a{
	font-size: 26px;
	list-style: none;
	text-decoration: none;
	color: black;

}
ul.lotus__link1 li a:hover{
	font-size: 20px;
	background-color: #39abe1;
}
ul.lotus__link2 li a:hover{
	font-size: 18px;
	background-color: #39abe1;
}
ul.lotus__link1:hover ul.lotus__link2{
	display: block;
}
ul.lotus__link2{
	display: none;
}

ul.lotus__link2 li a {
	
	font-size: 26px;
	list-style: none;
	text-decoration: none;
	color: black;

}
.lotus__link1 li, .lotus__link2 li{
	list-style: none;
}
.content--white h1{
	padding-top: 50%;
	font-size: 100px;
}
.background--white{
	height: 1081px;
	background-color:#f9f9f9;

}

.lotus{
	
	height: 1081px;
}
.lotus__lotus__image{
	background-image: url('../image/lotus.png');
	width: 75%;
	height: 1081px;

}
.button--red button[type=submit]{
	margin-top: 40px;
	background-color: #962534;
	width: 290px;
	height: 60px;
	color: white;
	border: none;
	
	font-size: 26px;
	margin-left: 20px;

}
.button--white button[type=submit]{
	margin-top: 40px;
	color: #962534;
	width: 290px;
	height: 60px;
	background-color: white;
	border: none;

	font-size: 26px;
	margin-left: 36px;

}






.immigration{
	height: 1081px;
	overflow: auto;
}
.lotus__immigration__image{
	background-image: url('../image/immigration.png');
	height: 1081px;
	background-position: center;
}
.lotus__education__image{
	background-image: url('../image/educaiton.png');
	height: 1081px;
	background-position: center;
}
.lotus__acomodation__image{
	background-image: url('../image/acomodation.png');
	height: 1081px;
	background-position: center;
}
.lotus__orientation__image{
	background-image: url('../image/orientation.png');
	height: 1081px;
	background-position: center;
}
.lotus__corparate__image{
	background-image: url('../image/corporate.png');
	height: 1081px;
	background-position: center;
}
.lotus__testimonials__image{
	background-image: url('../image/testimonials.png');
	height: 1081px;
	background-position: center;

}




.lotus-bot{
	background-color: #333333;
	max-width: 100%;
	
}
.lotus--bot--content{
	overflow: auto;
	max-width: 100%;
	
}
.lotus__bot__image{
	background-image: url('../image/lotus-bot.png');
	background-position: center;
	background-position: 750px 175px;
	background-repeat: no-repeat;
}
.footer{
	
	background-color: #202020;
	display: inline-block;
	width: 100%;
	overflow: auto;
	padding-top: 10px;
}
.footer .col-1-4 a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-top: 15px;
	margin: auto 20px;
		display: inline-block;

	
}
.footer-copyright p{
	color: white;
	text-align: right;
	margin-right: 20px;

}

.lotus--bot--content{
	margin-top: 40px;
}
.bot--content{
	padding-top:  5px;
	padding-left: 40px;
	width: calc(33.333333% - 40px) !important;
}
.bot--content p{

	
	font-size: 26px;
	color: #ffffff;
	margin-right: 15px;
}
.bot--content h4{
	font-size: 26px;
}
.bot--content ul li{
		font-size: 26px;
		list-style: none;
		
}
.bot--content ul{
	 padding-left: 0px;
}
.contact-title p{
	font-size: 26px;
	color: #fcbebd;


}
.contact-content{
	font-size: 26px;
		margin: 5px auto 5px auto !important;
	line-height: 1px;
}
	
