@font-face{
	font-family: Arcon;
	src:url("../font/Arcon-Rounded-Regular.otf");
}
body{
	margin: 0;
	font-family: Arcon;
}
h2{
	font-size: 50px;
	
}
h3{
	font-size: 30px;
}
p, li{
	font-size: 26px;
	margin-bottom: 20px;
}
strong{
	color: #a9a9a9;
	font-size: 26px;
}
table,tr{
	width: 100%;
	text-align: center;

}
.link{
	color: #962534;
	font-size: 26px;
}
.section{
	width: 100%;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	overflow: auto;
	z-index: 5;
	background-color: #fff;

}
.section--header{
	width: 75%;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	overflow: auto;
	z-index: 8;
	
	left:25%;
	color: white;

}
.section--blog{
	width: 100%;
	height: 50vh;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	overflow: auto;
	z-index: 5;
	background-color: #fff;
	

}

.section--article{
	width: 66.6667%;
	left: 16.6667%;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	overflow: auto;
	z-index: 5;
	background-color: #fff;

}



.section--opacity:before{
	content: '';
	display: inline-block;
	height: 100%;
	position: absolute;
	z-index: 7;
	opacity: 0.8;
	background: #f9f9f9;
}
.section--red, .section--red:before{
	background: #962534;
	color: #fff;
}
.section--red-white{
	background: #962534;
	color: white;
}
.section--red-white:before{
	background-color: #fff;
	color: white;
}

.section--black, .section--black:before{
	background: #333333;
	color: #fff;
}

.section--white{
	background-color: #fff;
	color: black;
}
.section--white:before{
	background: #333333;
	color: #fff;
}
.section--white-dark,.section--white-dark:before{
	background: #f9f9f9;
	color: black;
}
.section--dark,.section--dark:before{
	background: #f9f9f9;
	color: black;
}
.section__background{
	
	height: 100%;
	position: absolute;
	z-index:6 ;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
}
.section__background-about--header{
	
	height: 50%;
	position: absolute;
	z-index:6 ;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
	}.section__background-about--content{

		height: 50%;
		position: absolute;
		z-index:7;
		background-image: none;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		top: 50%;
		left: 16.6667%;
		background: white;
		width: calc(100% - 16.6667%);
		color: #333333;
	}
	.section__footter-background{
		background-size: cover;
		background-position: center;
		top: 320px;
		position: absolute;
		z-index:6 ;
		height: 72vh;

	}
	.section__menu-logo{
		position: relative;
		z-index:100 ;
	}
	.section__menu-logo--red{
		width: 95px;
		height: 100px;
		top: 5px;
		left: 5px;
		background-repeat: no-repeat;	
		position: absolute;
		z-index:101 ;
		background-image: url('../image/logo-red.png');
	}
	.section__menu-logo--white{
		width: 95px;
		height: 100px;
		top: 5px;
		left: 5px;
		background-repeat: no-repeat;	
		position: absolute;
		z-index:101 ;
		background-image: url('../image/logo-white.png');
	}
	.section__menu-content{
		position: relative;
		z-index:101;
		top: 0;
		left: 105px;

	}
	.section__menu-content h3{
		margin: 0px !important;
	}
	.btn{
		display: inline-block;
		text-decoration: none;
		padding: 20px 75px;
		font-size: 26px;
		max-width: 290px;
	}
	.btn--red{
		background: #962534;
		color: #fff;
	}
	.btn--white{
		background: #fff;
		color: #962534;
	}
	.col{
		position: relative;
		height: 100%;
		float: left;
		box-sizing: border-box;
		z-index: 8;

	}
	.col--right{
		float: right;
	}
	.col--left{
		float: left;
	}
	.col-1-2{
		width: 50%;
	}
	.col-1-3{
		width: 33.33334%;
			}
	.col-2-3{
		width: 	66.6667%;
	}
	.col-3-4{
		width: 75%;
	}
	.col-1-4{
		width: 25%;
	}
	.col-1-5{
		width: 20%;
	}
	.col-1-6{
		width: 16.6667%;
	}
	.col-4-5{
		width: 80%;
	}
	.col-1-1{
		width: 100%;
		height: 50%;
	}

	.col--vertical-center{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	.col--align-justify{
		padding: 0 30px;
		text-align: justify;
	}

	.col--center{
		margin: 0 auto;
		float: none;


	}
	.section__container{
		margin: 0 auto;
		height: 100%;


	}

	.col--text-right{
		text-align: right;
	}
	.col--text-bottom{
		vertical-align: bottom !important;
	}
	.col--text-top{
		vertical-align: top !important;
	}
	.col--padding{
		padding: 30px;
		box-sizing: border-box;
	}


	.section--opacity-width-1-6:before{
		width: 16.6667%;
	}
	.section--opacity-width-1-3:before{
		width: 33.3334%;
	}
	.section--opacity-width-1-4:before{
		width: 25%;
	}
	.section--opacity-width-1-2:before{
		width: 50%;
	}
	.section--opacity-width-2-3:before{
		width: 66.667%;
	}



	.section--opacity-distance-1-3:before{
		left: 33.4%;
	}
	.section--opacity-distance-1-4:before{
		left: 25%;
	}

	.section--opacity-distance-1-2:before{
		left: 50%;
	}
	.section--opacity-distance-3-4:before{
		left: 75%;
	}
	.section--opacity-distance-1-6:before{
		left: 16.6667%;
	}
	.section--opacity-distance-2-3:before{
		left: 66.6667%;
	}



	.section__background--distance-1-2{
		left: 50%;
	}
	.section__background--distance-1-3{
		left: 33.3334%;
	}
	.section__background--distance-1-4{
		left: 25%;
	}
	.section__background--distance-1-6{
		left: 16.6667%;
	}
	.section__background--distance-3-4{
		left: 75%;
	}
	.section__background--distance-2-3{
		left: 66.6667%;
	}
	.section__background--distance-7-12{
		left: 58.33334%;
		top: 200px;
	}


	.section__background--width{
		width: 100%;
	}
	.section__background--width-3-4{
		width: 75%;
	}
	.section__background--width-1-3{
		width: 33.3334%;
	}
	.section__background--width-2-3{
		width: 66.6667%;
	}
	.section__background--width-1-2{
		width: 50%;
	}
	.section__background--width-1-4{
		width: 25%;
	}
	.section__background--width-5-6{
		width: 83.3334%;
	}
	.section__background--width-5-12{
		width: 41.66667%;
	}


	.section--red .col-1-2:first-child{
		background-color: #fff;

		z-index: 5;
	}

	

	.section--black .col-1-2:first-child{
		background-color: #fff;
		z-index: 5;
	}

	/*** Article *********/
	.red{
		background-color: red;
	}
	.blue{
		background-color: blue;
	}
	.yellow{
		background-color: yellow;
	}
	.yellow:after{
		background-color: yellow;
	}

	.article{
		height: 100vh;
		min-height: 100vh;
		width: 100%;
		overflow: auto;
		position: relative;
		z-index: 0;
	}
	.article:after{
		content: "";
		min-height: 100vh;
		height: 100vh;
		width: 50%;
		position: absolute;
		z-index: 1;
		background: red;
	}





	.section__menu{

		width: 25%;
		box-sizing: border-box;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		color: #333333;
		overflow: auto;
		background: white;
		height: 100vh;
	}
/* 
.section__menu-logo{
	position: absolute;
	z-index: 51;
}
.section__menu-lang{
	position: absolute;
	z-index: 51;
	color: #333333;
	top: 95px;
}
.section__menu-menubar{
	position: absolute;
	z-index: 51;
	color: #333333;
	top: 220px;
}
.section__menu-isoical{
	position: absolute;
	z-index: 51;
	color: #333333;
	top: 980px;
}
*/
ul.lotus__link1 li a{
	font-size: 26px;
	list-style: none;
	text-decoration: none;
	color: black;

}

ul.lotus__link1 li a:hover{
	
	background-color: #a64a5a;
}
ul.lotus__link2 li a:hover{
	
	background-color: #a64a5a;
}

ul.lotus__link2 li a {
	
	font-size: 26px;
	list-style: none;
	text-decoration: none;
	color: black;

}
.lotus__link1 li, .lotus__link2 li{
	list-style: none;
}











.section__footter{
	width: 100%;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	overflow: auto;
	z-index: 4;
	background-color: #333333;	
	color: white;
}
.section__footter-logo{
	position: absolute;
	z-index: 5;
}


.section__footter-content{
	overflow: auto;
	position: relative;
	width: 100%;
	float: left;
	box-sizing: border-box;
	z-index: 8;
	top: 200px;
}


.footer{
	
	background-color: #202020;
	display: inline-block;
	width: 100%;
	overflow: auto;
	padding-top: 10px;
}
.footer .col-1-4 a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-top: 15px;
	margin: auto 20px;
	display: inline-block;

	
}
.footer-copyright p{
	color: white;
	text-align: right;
	margin-right: 20px;

}





.section__footter-link li{
	font-size: 26px;
	list-style: none;

}
.section__footter-link{
	padding-left: 0px !important;
}
.contact-title p{
	font-size: 26px;
	color: #fcbebd;


}
.contact-content{
	font-size: 26px;
	margin: 5px auto 5px auto !important;
	line-height: 1px;
}