@font-face {
	font-family: Arcon;
	src: url('../font/Arcon-Regular.otf');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: notosan;
	src: url('../font/NotoSansCJKtc-Regular.otf');
	font-weight:normal;
	font-style:normal;

}

.col-1-4{
	float: left;
	width: 25%;

}
.col-3-4{
	float: left;
	width: 75%;
}
.col-1-3{
	float: left;
	width: 33.33333%;
}
.col-2-3{
	float: left;
	width: 66.66666%;
}
.col-1-2{
	float: left;
	width: 50%;
	
}
.background--right{
	float: right;
}

.background--blacklite{
	background-color: rgba(114, 85, 84, 0.5);
	overflow: auto;
	height: 100%;
}
.content--top{
	padding-top: 10%;


}
.content--bottom{
	padding-top: 70%;


}

.content--right{
	text-align: right !important;
	padding-right: 30px;
}
.content--left{
	text-align: left !important;
	padding-left: 30px;
}

h2{
	font-size: 50px;

}
p{
	font-size: 26px;
	margin:  10px 0;
}
a{
	display: inline-block;
	color: #962534;
}
.about-logo--white{
	display: inline-block;
}
.about-logo--red h2{
	font-size: 30px !important;

}
.about-logo--white h2{
font-size: 30px !important;
display: inline-block;
}

.content--white{
	color: #fff;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  

}
.content--black{
	color: black;
	 display: flex;
  	justify-content: center;
  	flex-direction: column;

}
.about{
	max-width: 100%;
	background-color: #f9f9f9;
	overflow: auto;
	font-family: Arcon;
}
.about-relocation__image{
	background-image: url('../image/about/image-recolation.png');
	width: 100%;
	height: 540px;
}
.background--redlite{
	height: 540px;
}
.about-relocation{
	overflow: auto;
	max-width: 100%;

}
.about-relocation__content{
	margin-top: 100px;
}
.about-relocation__content>p{
	color: black;
	font-size: 26px;
	margin-top: 20px;
}
.about-us-top{
	background-color: #333333;
	max-width: 100%;
	overflow: auto;
	height:1080px;
	


}
.about-us__image{
	background-image: url('../image/about/image-about-top.png');
	
	overflow: auto;
	height: 100%;
}
.about-us-bottom{
	max-width: 100%;
	height: 1080px;
	

}
.background--white{
	background-color: #fff;
	height: 100%;

}
.background--red{
	background-color: #962534;
	height: 1081px;

}
.about__top__right{
	
}